$primary-font: Helvetica, sans-serif;

$primary-color: #c5c5c5;
$primary-color-hover: #cfcfcf;
$secondary-color: #f8f8f8;
$header: #1a1a1a;
$dark: #111111;
$dark-soft: #333333;
$white: #ffffff;
$grey: #878787;
$blue: #1dadf5;
$blue-light: #e8f6fe;
