<header class="header">
  <a href="/"><img class="header__logo" src="../../../assets/images/insided-logo.jpg"></a>
  <div class="header__personal">
    <button type="button" class="small-rounded user__mail"><img class="user__icon" src="../../../assets/icons/envelope-regular.svg" /></button>
    <img class="small-rounded" src="../../../assets/images/daan.jpg" />
    <div class="user__login">
      <p class="user__name">John Doe</p>
      <a class="user__option" href="">(log out)</a>
    </div>
  </div>
</header>

