@import 'variables';
@import 'mixins';

.navigation {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 907px;
  background-color: $secondary-color;
  border: 1px solid $primary-color;

  &__item {
    @include font-face($primary-font, 14px, $dark);

    display: flex;
    align-items: center;
    height: 20px;
    padding: 15px;
    border-bottom: 1px solid $primary-color;
    list-style-type: none;
    outline: none;

    &:hover {
      cursor: pointer;
      background-color: $primary-color-hover;
    }

    &--active {
      pointer-events: none;
      border-left: 4px solid $blue;
      padding-left: 11px;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
  }

  &__text {
    margin-left: 10px;
  }

  &__expand {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border-bottom: 1px solid $primary-color;
    padding: 10px 0;
  }

  &__sub-item {
    @include font-face($primary-font, 14px, $dark);

    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 0 0 44px;
    outline: none;
    height: 27px;

    &--active {
      @include font-face($primary-font, 14px, $dark, bold);
    }
  }
}
